<main>
  <h1><%= info.title %></h1>
  <span id="date-published">
    <% if draft? %>
    DRAFT
    <% else %>
    Published on <%= info.published.to_pretty_s %>
    <% end %>
  </span>

  <%= yield %>

</main>
<footer>
  Link to rss feed
  If you liked what you read, consider to say Hi at <a href="mailto:hey@jhuwald.com">hey@jhuwald.com</a>.
  <hr size="0.5px" width="90%">
  <a href="#" class="top">Top</a>
</footer>
