<!doctype HTML>

<html>
  <head>
    <meta charset="utf-8">
    <link href="css/style.css"  rel="stylesheet" type="text/css">
    <title><%= title %></title>
  </head>
  <body>
    <% iterate_elements() do |elem| %>
      <% case elem when Text %><%= elem.text %>
        <% when Section %>
        <%= elem.heading %>
      <% end %>
    <% end %>
  </body>
</html>
